body {
    background-color: rgb(3, 3, 66);
}

h1 {
    text-align: center;
}

.login input {
    background-color: rgb(2, 2, 42);
    width: 100%;
    height: 50px;
    margin: 5px;
    border-radius: 3px;
}

.login button {
    background-color: blue;
    width: 100%;
    height: 50px;
    margin: 5px;
    border-radius: 3px;
}

.login {
    color: white;
    width: 35%;
    margin: auto;
    padding: 10px;
}